.posts-wrapper{
  width: 75%;
  margin: 20px auto;
  border: 1px solid #eee;
}
.post {
  width: 80%;
  margin: 20px auto;
  padding: 15px 15px 10px 15px;
  border: 1px solid green;
  margin-left: 150px;
}
.post-info {
  margin: 10px auto 0px;
  padding: 5px;
}
.fa {
  font-size: 4em;
  margin-right: 700px;
  margin-left: -10px;
  

}
.fa-arrow-circle-up, .fa-arrow-circle-down {
  transform:rotateY(180deg);
}
.logged_in_user {
  padding: 15px 30px 10px;
}

i {
  color: grey;
}